<!DOCTYPE html>
<html ng-controller="AppController as vm">
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="NOVA Code Camp 2015 ES6 with Angular Prime Numbers Demo">
  <meta name="author" content="BugBytes Inc.">
  <title>Prime Number Generator</title>
  <link type="text/css" rel="stylesheet" media="all" href="css/main.css">
</head>
<body>
  <div class="input">Get Prime numbers up to <input ng-model="vm.limit" type="number"/><button ng-click="vm.onCompute()">Go</button><button ng-click="vm.onClear()">Clear</button></div>
  <ul class="output ng-cloak" ng-cloak>
    <li ng-repeat="prime in vm.primes">{{prime}}</li>
    <li ng-if="vm.primes.length&gt;=500">...</li>
  </ul>
  <script src="lib/angular.js"></script>
  <script src="lib/traceur.js"></script>
  <script>
    // There are potentially other ways to bootstrap traceur, this method
    // replicates how the traceur-compiler project bootstraps their
    // REPL demo page.  A future version of traceur may change how this
    // works, please check the traceur-compiler repl if you have problems.
    // http://google.github.io/traceur-compiler/demo/repl.html#
    window.System = new traceur.runtime.BrowserTraceurLoader();
    System.map = System.semverMap(System.version);
    System.baseURL = window.location.href + 'script/';
    System.import('start.js').catch(function(ex) {
      console.error('Internal Error ', ex.stack || ex);
    });
  </script>
</body>
</html>
